form {
  padding: 20px;
  margin-top: 60px;
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 600px;
  font-family: 'Poiret One', cursive;
  font-weight: 900;
  letter-spacing: 1px;
}
form button, form h5 { margin: 20px 0; }
form h5 { font-weight: 900; }
form button { font-family: 'Righteous', cursive; }


