html {
  min-height: 100%;
}

/*fonts*/
/*font-family: 'Quicksand', sans-serif; */
/*font-family: 'Fjalla One', sans-serif; */
/*font-family: 'Permanent Marker', cursive; */
/*font-family: 'Bangers', cursive; */
/*font-family: 'Yellowtail', cursive;*/
/*font-family: 'Abril Fatface', cursive;*/
/*font-family: 'Julius Sans One', sans-serif;*/
/*font-family: 'Nixie One', cursive;*/
/*font-family: 'Poiret One', cursive;*/


.masonry {
    margin: auto;
    padding: auto;
}
.gridSizer,
.grid-item {
    width: 33.333%;
    margin: 0;
}
.grid {
    margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/img/beb86885727964a690027923a2714f3e.png");
  background-size: cover;
  min-height: 100%;
}

code { font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

/*================================================================FORMS===*/
form {
    padding: 20px;
    margin-top: 60px;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 600px; }

form button, form h5 { margin: 20px 0; }

.form__radio-block {
    display: flex;
    flex-wrap: wrap; }

.form__radio-input-block { margin-right: 30px; }

.dropdown-trigger-input {
    display: flex;
    align-items: center;
}

.dropdown-trigger-input__button {
    margin: 0 0 0 10px;
}

.input-field { margin-bottom: 0; }

.update-success-message {
    font-size: 10px;
    color: #26a69a;
    margin: 0;
    width: 100%;
}

.update-error-message {
    font-size: 10px;
    color: #ec407a;
    margin: 0;
    width: 100%;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*================================================================HEADER-NAV===*/
.nav-link {
    font-family: 'Righteous', cursive;
    display: flex;
    align-items: center;
}

.initials { font-family: 'Righteous', cursive; }

.nav-link:hover { color: #26a69a; }
.quit-link:hover { color: #ec407a; }

.nav-link--profile-nav {
    color: black;
    font-size: 16px;
    font-weight: 400;
    transition: .2s linear;
    font-family: 'Permanent Marker', cursive;
}

.nav-link--profile-nav:hover {
    color: black;
    transform: scale(1.2);
    background-color: transparent;
}

.brand-logo {
    position: relative !important;
    font-family: 'Staatliches', cursive;
}

.nav-wrapper {
  margin-bottom: 4vh;
}

/*================================================================USER-PHOTO===*/
.user-photo { position: relative; }

.user-photo:hover>.edit-link__user-photo { display: block; }

.user-photo__image-block {
    border-radius: 80px;
    background: white;
    position: relative;
    box-shadow: rgba(16, 16, 16, 0.6) 7px 5px 2px;
    overflow: hidden;
    border: 5px solid white; }

.user-photo__image-block--profile {
    width: 150px;
    max-height: 150px;
    min-width: 150px;
    transition: .3s linear; }

.user-photo__image-block--profile:hover {
    margin-bottom: 7px;
    box-shadow: rgba(16, 16, 16, 0.8) 20px 20px 10px; }

.user-photo__image-block--edit {
    width: 150px;
    max-height: 150px;
    min-width: 150px;
}

.user-photo__img {
    border-radius: 80px;
    width: 100%;
    height: auto;
    min-height: 150px;
    min-width: 150px;
}

/*================================================================USER-BANNER===*/
.user-banner { box-shadow: 24px 18px 2px 0px rgba(0,0,0,0.7); }
.user-banner__banner-block {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 0 30px 10px 0;
    justify-content: flex-end;
    box-shadow: 0 -10vh 60px 0 rgba(0, 0, 0, .5) inset;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 34vh; }

.user-banner:hover>.edit-link__banner { display: block; }

.user-banner__name-block {
    user-select: none;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: ghostwhite;
    text-shadow: 4px -4px rgba(157, 217, 227, .7), -2px -2px rgba(159, 141, 105, .7), 0 2px rgba(254, 216, 21, .7); }


/*================================================================EDIT-LINKS===*/
.edit-link {
    height: 20px;
    width: 30px;
    position: absolute;
    display: none;
}

.edit-link__banner { top: 2vh; }

.edit-link__user-photo {
    bottom: 0;
    right: 0; }

.edit-link__img {
    background-image: url(/img/iconfinder_icon-camera_211634.svg);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px 3px white;
    background-color: lightcyan;
    border-radius: 3px; }

/*================================================================MESSAGES===*/

/*===============MESSAGE-ICON===*/
.message-icon { position: relative; }

.link-icon {
    height: 100%;
    margin-right: 10px;
}
.message-icon__notification {
    position: absolute;
    top: 12px;
    margin: 0;
    padding: 0;
    font-size: 25px;
    left: 8px;
    height: 20px;
    display: flex;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
}


/*================================================================USER_NAV===*/
.user-nav {

}

/*================================================================SETTINGS===*/
.settings__credentials-block {
    padding: 30px !important;
}

.settings__credentials-block>form{
    padding: 0;
    margin-top: 0;
}

.settings__headline {
    margin-bottom: 50px;
}



/*================================================================DELETE_ACCOUNT===*/
.delete-user__form-button-block>form {
    margin: 0 auto 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    width: 80%;
}

.delete-user-container {
    width: 40vw;
    min-width: 290px;
    padding-bottom: 50px;
    box-shadow: 24px 18px 2px 0px rgba(0,0,0,0.7)
}

.delete-user-block {
    padding: 30px 30px 0 30px;
    width: 25vw;
    background: white;
    min-width: 280px;
}

.delete-user-block>h2 {
    margin: 0;
}

.delete-user-block>h3 {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    font-family: 'Righteous', cursive;
}

.delete-user__img {

}

.delete-user__button {
    margin: 10px;
    font-family: "Righteous", cursive;
    width: 167.23px;
}

/*================================================================NOTIFICATIONS===*/
.notifications {
    box-shadow: 24px 18px 2px 0px rgba(0,0,0,0.7)
}

.notifications__content-link {
    color: #26a69a;
}

/*================================================================PROJECTS===*/
/*--------------------------PROJECT-DETAILS------->*/
.project-details {
    box-shadow: 24px 18px 2px 0px rgba(0,0,0,0.7) !important;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto; }

.project-details__main {
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 18px;
    line-height: 30px; }

.project-details__title {
    font-family: 'Staatliches', cursive;
    margin: 0 !important; }

.edit-post-links {
    font-size: 20px;
    display: flex;
    color: #9e9e9e;
}

.project-details__author-block {
    display: flex;
    justify-content: space-between; }

.delete-post {
    margin-left: 10px;
    margin-right: 10px; }

.edit-post-links div>i {
    cursor: pointer;
    transition: .2s linear; }

.edit-post-links div>i:hover,
.edit-post__editLink>i:hover {
    transform: scale(1.4) !important; }

.edit-post-links div>.fa-trash-alt:hover { color: #ec407a; }

.edit-post__editLink>i {
    color: #9e9e9e;
    height: max-content;
    transition: .2s linear }

.edit-post__editLink>i:hover { color: #26a69a; }

.project-details__edit-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 10px 0;
}

.project-details__content {
    margin-top: 30px;
}
/*--------------------------CREATE-PROJECT------->*/
.create-project {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-bottom: 50px;
}

.create-project__form-title {
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

.create-project__content-input {
    white-space: pre-line;
    font-family: "Poiret One", cursive;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 18px !important;
    line-height: 30px !important;
}

.create-project__title {
    font-family: 'Staatliches', cursive;
    font-size: 24px !important;
}

.add-file__inputs {
    width: 35px;
    height: 35px !important;
    margin: 0;
}

.add-file {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.add-file__button {
    width: 35px;
    height: 35px !important;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 20px;
    color: #26a69a;
    box-shadow: none !important;
    display: flex;
    align-items: center;
}

.add-file__add-icon {
    font-size: 30px !important;
}

.add-file__delete-icon {
    margin-left: 20px;
    font-size: 35px !important;
    color: #bdbdbd;
}

.add-file__cancel-icon {
    margin-left: 20px;
    font-size: 27px !important;
    color: #ffd600 ;
}

.add-file__button:hover {
    background-color: transparent !important;
}

.add-file__label {
    font-family: 'Righteous', cursive;
    margin-left: 10px;
    color: #26a69a;
    opacity: 0.6;
}

.create-project__btn-block {
    display: flex;
    justify-content: space-between;
}

/*--------------------------PROJECT-SUMMARY------->*/
.project-summary {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 24px 18px 2px 0px rgba(0,0,0,0.7) !important;
    /*margin-bottom: 50px;*/
    font-family: 'Righteous', cursive;
    position: relative;
}

.project-summary__title {
    font-family: 'Staatliches', cursive;
    margin: 5% 0 5% 0;
}

.project-summary__banner {

}

.project-summary__content {
    padding: 4% !important;
}



/*================================================================USER-SIGNATURE===*/
.user-signature {
    display: flex;
    align-items: center;
}

.user-photo {
    overflow: hidden;
    border-radius: 50px;
    margin-right: 10px;
}

.user-photo--project-author {
    width: 60px;
    height: 60px;
}

.user-photo--comment {
    width: 45px;
    height: 45px;
}

.user-signature__timestamp {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

.user-signature__timestamp--comment {
    font-size: 12px;
}

.user-signature__timestamp--project-author {
    font-size: 14px;
}

.user-signature__name {
    font-size: 16px;
}

.user-link {
    color: black !important;
    /*letter-spacing: 1px;*/
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    /*font-family: 'Righteous', cursive;*/
    text-shadow: -2px -2px rgba(38, 166, 154, .2);
}

.user-signature__name--comment {
    font-size: 13px;
}

/*================================================================TOOLTIPS===*/
.delete-tooltip {
    background-color: #ec407a !important;
    font-weight: 600;
    transition: .2s linear !important;
}

.delete-tooltip::after {
    border-top-color: #ec407a !important
}

.edit-tooltip {
    background-color: #26a69a !important;
    font-weight: 600;
    transition: .2s linear !important;
}

.edit-tooltip::after {
    border-top-color: #26a69a !important
}

/*================================================================COMMENTS===*/
.comments {
    padding: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.comments__no-comments {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.6px;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
}

.comments__headline {
    margin: 0;
    font-size: 20px;
    font-family: 'Shadows Into Light Two', cursive;
}

.comments__list {
    margin: 15px 0 0 0;
}

.create-comment {
    margin-top: 15px;
}

.create-comment__form {
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 3% 0 3%;
}

.create-comment__label {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
}

.create-comment__btn-block {
    margin: 0;
}

.create-comment__btn {
    margin: 0;
}

.comment {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
}

.comment__author-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comment__content {
    margin-top: 15px;
    font-size: 14px;
    /*font-family: 'Kalam', cursive;*/
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 1.6px;
}

.comment__delete {
    cursor: pointer;
    font-size: 16px;
    font-family: 'Architects Daughter', cursive;
    display: none;
    user-select: none;
}

.comment__delete:hover {
    color: #ec407a;
}

.comment:hover .comment__delete {
    display: block;
}

