@import 'styles/_general.scss';
@import 'styles/_forms.scss';
@import 'styles/posts/post-details';


/*fonts*/
/*font-family: 'Quicksand', sans-serif; */
/*font-family: 'Fjalla One', sans-serif; */
/*font-family: 'Permanent Marker', cursive; */
/*font-family: 'Bangers', cursive; */
/*font-family: 'Yellowtail', cursive;*/
/*font-family: 'Abril Fatface', cursive;*/
/*font-family: 'Julius Sans One', sans-serif;*/
/*font-family: 'Nixie One', cursive;*/
/*font-family: 'Poiret One', cursive;*/



/*================================================================MASONRY===*/
.masonry {
    margin: auto;
    padding: auto;
}
.gridSizer,
.grid-item {
    width: 33.333%;
    margin: 0;
}
.grid {
    margin: 0 auto;
}

.form__radio-block {
    display: flex;
    flex-wrap: wrap; }

.form__radio-input-block { margin-right: 30px; }

.form__buttons {
    display: flex;
    justify-content: space-between;
}

.dropdown-trigger-input {
    display: flex;
    align-items: center;
}

.dropdown-trigger-input__button {
    margin: 0 0 0 10px;
}

.input-field { margin-bottom: 0; }

.update-success-message {
    font-size: 10px;
    color: #26a69a;
    margin: 0;
    width: 100%;
}

.update-error-message {
    font-size: 10px;
    color: #ec407a;
    margin: 0;
    width: 100%;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
}

/*================================================================MODAL===*/
.modal-window__close-icon {
    color: #f50057;
    font-size: 20px;
    cursor: pointer;
}

.modal-window {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
}

.modal-window form {
    width: 50vw;
    min-width: 290px;
}

/*================================================================HEADER-NAV===*/

.header-nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    font-family: 'Righteous', cursive;
    display: flex;
    align-items: center;
    margin: 0 12px !important;
    padding: 0;
    justify-content: space-between;
}

.nav__link-icon {
    height: auto;
}

.nav__link-plus {
    font-size: 25px;
    margin-top: -14px;
    margin-right: -2px;
    font-family: 'Quicksand', sans-serif;
}

.initials { font-family: 'Righteous', cursive; }

.nav__link:hover { color: #26a69a; }

/*================================================================PROFILE===*/

.avatar-block {
    margin-top: 30px;
    width: 50vw;
    background: white;
    border-radius: 80px;
    box-shadow: 3px 8px 10px 7px rgba(16, 16, 16, 0.7) inset, 0 80px 60px 0 rgba(0, 0, 0, .5) inset;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    background-size: contain;

}

.avatar-block>.profile-banner__avatar>.profile-banner__avatar {
    box-shadow: none !important;
}

.profile__statistics {
    line-height: 30px;
}

.profile__statistics li {
    display: flex;
    justify-content: space-between;
}
/*================================================================PROFILE-NAV===*/

.nav-link--profile {
    color: black;
    font-size: 16px;
    font-weight: 400;
    transition: .2s linear;
    font-family: 'Permanent Marker', cursive;
}

.nav-link--profile:hover {
    color: black;
    transform: scale(1.2);
    background-color: transparent;
}

.brand-logo {
    position: relative !important;
    font-family: 'Staatliches', cursive;
}

.nav-wrapper {
  /*margin-bottom: 4vh;*/
}

/*================================================================CHANGE-PROFILE-QUOTE===*/
.change-profile-quote__error-message {
    color: #f50057;
}

.change-profile-quote__symbols-message {
    color: #26a69a;
}

/*================================================================USER-BANNER===*/
.profile-banner {
    padding-top: 30px;
    /*padding-bottom: 30px;*/
    /*margin-bottom: 4vh;*/
    background-color: white;
    /*box-shadow: 0 18px 2px 0 rgba(0,0,0,0.7);*/
    transition: .2s linear;
}

.profile-banner__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.profile-banner__content:hover>.profile-banner__edit-link--banner { display: flex; }

.profile-banner__user-name {
    margin: 0;
    user-select: none;
    color: black;
    font-family: 'Monoton', cursive;
    font-size: 25px;
}
.profile-banner__avatar {
    min-width: 180px;
    position: relative;
}

.profile-banner__avatar:hover>.profile-banner__edit-avatar-icon { display: flex; }

.profile-banner__avatar-border {
    border-radius: 100px;
    background: white;
    position: relative;
    overflow: hidden;
    width: 160px;
    max-height: 160px;
    min-width: 160px;
}

.profile-banner__edit-avatar-icon {
    position: absolute;
    font-size: 25px;
    z-index: 1;
    color: black;
    opacity: 0.8;
    box-shadow: 0 0 5px 3px white;
    background-color: white;
    border-radius: 3px;
    display: none;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: .2s linear
}

.profile-banner__user-summery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.profile-banner__member-since,
.profile-banner__followers-following-links p {
    color: black;
    font-size: 13px;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0;
}

.profile-banner__member-since span {
    font-family: 'Staatliches', cursive;
    font-size: 14px;
    font-weight: 100;
}

.profile-banner__followers-following-links span {
    color: #26a69a;
}

/*---------------------------------------------------PROFILE-BANNER-QUOTE-------->*/
.profile-banner__quote {
    border-top: 1px solid black;
    color: black;
    font-size: 16px;
    font-weight: 400;
    transition: .2s linear;
    font-family: 'Permanent Marker', cursive;
    margin-top: 10px !important;
    width: 50vw;
    min-width: 290px;
    padding-top: 5px;
    max-width: 600px;
    margin-bottom: 0;
}

.profile-banner__quote i {
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    color:  #26a69a;
    display: none;
}

.profile-banner__quote:hover>span {
    visibility: visible;
}


.profile-banner__add-quote {
    font-size: 15px;
    display: inline;
    cursor: pointer;
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    color: #e91e63;
}

.profile-banner__add-quote i {
    font-size: 17px;
    margin-left: 10px;
    color: #26a69a;
}

.profile-banner__add-quote:hover {
    border-bottom: 1px solid #26a69a;
}

.profile-banner__edit-quote,
.profile-banner__delete-quote {
    font-family: 'Poiret One', cursive;
    letter-spacing: 1px;
    margin-left: 10px;
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
    visibility: hidden;
    transition: .2s linear;
}

.profile-banner__edit-quote:hover,
.profile-banner__delete-quote:hover {
    text-decoration: underline;
}

.profile-banner__edit-quote {
    color: #26a69a;
}

.profile-banner__delete-quote {
    color: #ec407a;
}

.profile-banner__main-info {
    display: flex;
    justify-content: space-between;
}

.follow {
    width: 70px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

/*================================================================MESSAGES===*/

/*===============MESSAGE-ICON===*/
.message-icon { position: relative; }

.link-icon {
    height: 100%;
    margin-right: 10px;
}
.message-icon__notification {
    position: absolute;
    top: 12px;
    margin: 0;
    padding: 0;
    font-size: 25px;
    left: 8px;
    height: 20px;
    display: flex;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
}


/*================================================================USER_NAV===*/
.user-nav {

}

/*================================================================SETTINGS===*/
.settings__credentials-block {
    padding: 30px !important;
}

.settings__credentials-block>form{
    padding: 0;
    margin-top: 0;
}

.settings__headline {
    margin-bottom: 50px;
}



/*================================================================DELETE_ACCOUNT===*/
.delete-user__form-button-block>form {
    margin: 0 auto 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    width: 80%;
}

.delete-user-container {
    width: 40vw;
    min-width: 290px;
    padding-bottom: 50px;
    box-shadow: 24px 18px 2px 0px rgba(0,0,0,0.7)
}

.delete-user-block {
    padding: 30px 30px 0 30px;
    width: 25vw;
    background: white;
    min-width: 280px;
}

.delete-user-block>h2 {
    margin: 0;
}

.delete-user-block>h3 {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    font-family: 'Righteous', cursive;
}

.delete-user__img {

}

.delete-user__button {
    margin: 10px;
    font-family: "Righteous", cursive;
    width: 167.23px;
}

/*================================================================NOTIFICATIONS===*/
.notifications {
    position: fixed;
    z-index: 1;
    padding: 0;
    display: flex;
    right: 0;
    margin-top: 2vh;
}
.notification__badge {
    font-size: 25px;
    width: 2.0em;
    box-shadow: 10px 10px 2px 0 rgba(0,0,0,0.8);
    height: 1.7em;
    position: absolute;
    z-index: 2;
    right: -2px;
    cursor: pointer;
    margin-top: 15px;
}
.notification__badge-icon {
    transform: rotate(90deg);
    color: #e91e63;
}
.notification__badge-count {
    color: white;
    font-size: 16px;
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    margin-left: 4px;
}
.notifications-card {
    margin: 0;
    background: white;
    box-shadow: 24px 18px 10px 0 rgba(0,0,0,0.8);
}

/*ANIMATION*/
.notifications__sidebar-appear { right: -340px; }

.notifications__sidebar-appear-active  {
    right: 0;
    transition: right 500ms ease-in;
}

/*================================================================PROJECTS===*/

/*--------------------------CREATE-PROJECT------->*/
.create-project {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-bottom: 50px;
}

.create-project__form-title {
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

.create-project__content-input {
    white-space: pre-line;
    font-family: "Poiret One", cursive;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 18px !important;
    line-height: 30px !important;
}

.create-project__title {
    font-family: 'Staatliches', cursive;
    font-size: 24px !important;
}

.add-file__inputs {
    width: 35px;
    height: 35px !important;
    margin: 0;
}

.add-file {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.add-file__button {
    width: 35px;
    height: 35px !important;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 20px;
    color: #26a69a;
    box-shadow: none !important;
    display: flex;
    align-items: center;
}

.add-file__add-icon {
    font-size: 30px !important;
}

.add-file__delete-icon {
    margin-left: 20px;
    font-size: 35px !important;
    color: #bdbdbd;
}

.add-file__cancel-icon {
    margin-left: 20px;
    font-size: 27px !important;
    color: #ffd600 ;
}

.add-file__button:hover {
    background-color: transparent !important;
}

.add-file__label {
    font-family: 'Righteous', cursive;
    margin-left: 10px;
    color: #26a69a;
    opacity: 0.6;
}

.create-project__btn-block {
    display: flex;
    justify-content: space-between;
}

/*--------------------------PROJECT-SUMMARY------->*/
.project-summary {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 24px 18px 2px 0px rgba(0,0,0,0.7) !important;
    /*margin-bottom: 50px;*/
    font-family: 'Righteous', cursive;
    position: relative;
}

.project-summary__title {
    font-family: 'Staatliches', cursive;
    margin: 5% 0 5% 0;
}

.project-summary__banner {

}

.project-summary__content {
    padding: 4% !important;
}



/*================================================================USER-SIGNATURE===*/
.user-signature {
    display: flex;
    align-items: center;
}

.user-signature__avatar {
    display: flex;}

.user-avatar {
    overflow: hidden;
    border-radius: 50px;
    margin-right: 10px;
}

.user-avatar--project-author {
    width: 60px;
    height: 60px;
}

.user-avatar--comment {
    width: 45px;
    height: 45px;
}

.user-avatar--users-list {
    width: 80px;
    height: 80px;
}

.user-avatar--profile {
    border-radius: 100px;
    background: white;
    position: relative;
    overflow: hidden;
    width: 160px;
    max-height: 160px;
    min-width: 160px;
}

.user-signature__timestamp {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

.user-signature__timestamp--comment {
    font-size: 12px;
}

.user-signature__timestamp--project-author {
    font-size: 14px;
}

.user-signature__name {
    font-size: 16px;
}

.user-link {
    color: black !important;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    text-shadow: -2px -2px rgba(38, 166, 154, .2);
}

.user-signature__name--comment {
    font-size: 13px;
}

/*================================================================USER_SUMMARY===*/

.user-summary {
    box-shadow: 12px 9px 10px 0 rgba(0,0,0,0.8) !important;
}

.user-summary__content {
    position: relative;
}

.user-summary__content .follow {
    top: 24px;
    right: 24px;
}

/*================================================================COMMENTS===*/
.comments {
    padding: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.comments__no-comments {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.6px;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
}

.comments__headline {
    margin: 0;
    font-size: 20px;
    font-family: 'Shadows Into Light Two', cursive;
}

.comments__list {
    margin: 15px 0 0 0;
}

.create-comment {
    margin-top: 15px;
}

.create-comment__form {
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 3% 0 3%;
}

.create-comment__label {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
}

.create-comment__btn-block {
    margin: 0;
}

.create-comment__btn {
    margin: 0;
}

.comment {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
}

.comment__author-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comment__content {
    margin-top: 15px;
    font-size: 14px;
    /*font-family: 'Kalam', cursive;*/
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 1.6px;
}

.comment__delete {
    cursor: pointer;
    font-size: 16px;
    font-family: 'Architects Daughter', cursive;
    display: none;
    user-select: none;
}

.comment__delete:hover {
    color: #ec407a;
}

.comment:hover .comment__delete {
    display: block;
}

/*================================================================FILE-INPUT===*/
.file-path-wrapper {
    height: 0;
    width: 0;
}

.file-path-wrapper input {
    width: 0; }


.user-nav {
    height: 40px;
    line-height: 40px;
    padding-bottom: 30px;
    margin-bottom: 4vh;
    box-shadow: 0 18px 2px 0 rgba(0,0,0,0.7);
}

.user-nav__link {
    color: black;
    font-size: 12px;
    font-family: 'Righteous', cursive;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    position: relative;
}

/*.user-nav__link.active::after {*/
    /*content: '';*/
    /*width: 8px;*/
    /*height: 8px;*/
    /*display: block;*/
    /*position: absolute;*/
    /*left: 69px;*/
    /*z-index: 0;*/
    /*border-bottom-right-radius: 100px;*/
    /*border-bottom: 3px solid rgb(178, 223, 219);*/
    /*-webkit-transform: rotate(96deg);*/
    /*transform: rotate(91deg);*/
    /*top: 35px;*/
/*}*/

/*.user-nav__link.active::before {*/
    /*content: '';*/
    /*width: 8px;*/
    /*height: 8px;*/
    /*display: block;*/
    /*position: absolute;*/
    /*left: 69px;*/
    /*z-index: 0;*/
    /*border-bottom-right-radius: 100px;*/
    /*!*border-bottom: 3px solid black;*!*/
    /*top: 35px;*/
/*}*/

.user-nav__link:hover {
    background-color: transparent;
}

.user-nav__link .active {
    border: 1px solid #26a69a;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.user-nav__list {
    /*border-bottom: 1px solid #26a69a;*/
}

/*================================================================DROPDOWN===*/

.dropdown {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    top: 56px;
    left: 0;
    flex-direction: column;
}

.dropdown>div {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 2px solid #f50057;
    border-radius: 30px;
}

.dropdown>div>i {
    font-size: 30px;
    margin: 0;
    height: 30px;
}

.dropdown__list {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 290px;
    padding: 10px 20px 10px 20px !important;
    border-radius: 10px;
    margin-top: -56px;
}

.dropdown__list>li>.nav__link {
    color: black;
    border-bottom: 1px solid lightgrey;
}

.dropdown__list>li>.nav__link:hover {
    background-color: transparent;
    color: #26a69a;
    border-bottom: 1px solid  #26a69a;
}

.nav__link--logout {
    border: 0 !important;
    cursor: pointer;
}

.nav__link--logout:hover {
    color: #f50057 !important;
}

.dropdown-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    height: 23px;
    margin-left: 10px;
}

.dropdown-button__icon-line {
    width: 25px;
    height: 3px;
    border-radius: 1px;
    background-color: white;
    border: 0;
    -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 0;
}

.dropdown-button__icon-line--short {
    width: 15px;
    margin-top: 0;
}

.dropdown-button.active>.dropdown-button__icon-line:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(0px, 12px);
    -ms-transform: rotate(45deg) translate(0px, 12px);
    transform: rotate(45deg) translate(0px, 12px);
    width: 25px;
}

.dropdown-button.active>.dropdown-button__icon-line:nth-child(2) {
    visibility: hidden;
}

.dropdown-button.active>.dropdown-button__icon-line:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(2px, -14px);
    -ms-transform: rotate(-45deg) translate(2px, -14px);
    transform: rotate(-45deg) translate(2px, -14px);
}

/*================================================================SEARCH===*/
.search {
    display: flex;
    justify-content: center;
}

.search__label {
    color: black;
    font-size: 20px;
    font-weight: 900;
}


.search__input {
    border: 0;
}

.search__input:focus {

}

.search__form {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    min-width: 290px;
}
/*================================================================PAGE-NOT-FOUND===*/
.page-not-found{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
}

.page-not-found__content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*================================================================LIKES===*/
.awesome {
    width: 80px;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
}

.awesome__count {
    position: absolute;
    font-weight: 900;
    bottom: 10px;
    right: 0;
    font-size: 21px;
    text-shadow: -1px -1px #212121;
}

/*================================================================MEDIA===*/

@media screen and (max-width: 790px) {
    .gridSizer,
    .grid-item {
        width: 50%;
        margin: 0;
    }
}

@media screen and (max-width: 573px) {
    .nav__link--wrap { display: none; }
    .dropdown-button { display: flex; }
}

@media screen and (max-width: 530px) {
    .nav__link {
        margin: 0 8px !important;
    }
}

@media screen and (max-width: 480px) {
    .gridSizer,
    .grid-item {
        width: 100%;
        margin: 0;
    }
}





